<!-- <p>chart works!</p>
<div style="display: block">
  <canvas
    baseChart
    width="400"
    height="400"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
  >
  </canvas>
</div>
////////////////////////////////////////////////////////////////////////////////////// 
<div style="display: block; width: 400px; height: 400px">
  <canvas
    baseChart
    width="400"
    height="400"
    [datasets]="labelMFL"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>
//////////////////////////////////////////////////////////////////////////////// 
<div style="display: block; width: 400px; height: 400px">
  <canvas
    baseChart
    [type]="'pie'"
    [datasets]="labelPie"
    [labels]="pieChartLabels"
  ></canvas>
</div> -->


